.bodystyle{
  background-color:  rgb(196, 144, 101);
  font-family: Arial, Helvetica, sans-serif;
}
.imgHeader {
  height: 150px;
  text-align: center; 
  padding-top:15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  background-color: rgb(59, 40, 24);
  box-shadow: 1px 1px 25px rgba(100, 68, 42, 0.719);
}

.imgHeader img{
 
  height: 100%;

}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1100px;

  
 
}

.wrap {
  margin: 10px;
  display: flex;
  justify-content: space-around;
}
.btnPlay {
  height: 60px;
  background-color: #333;
  color: #fff;
  width: 5rem;
  text-align: center;
  box-shadow: 1px 1px 25px rgba(51, 51, 51, 0.664);
}
.btnPlay:hover {
  height: 60px;
  background-color: #fff;
  color: #333;
  width: 5rem;
  text-align: center;
 box-shadow:inset 0px 0px 5px 25px #ddddddde;

}
.styleplayer{
  font-size: 18px;
  text-align: center;
}
.shadowed {
  -webkit-filter: drop-shadow(1px 1px 25px rgba(163, 86, 41, 0.774));
  filter: drop-shadow();

}
.btnMove {
  width: 10%;
  min-width: 50px;
}

.zoneContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr, 1fr);

  margin-top: 15px;
  transform: translateY(0%);
  border: 1px solid rgb(85, 42, 6);
  transform: translateY(-300%);
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(175, 79, 0, 0.438);


  
}

#moves-log {
  width: 500px;
  height: 200px;
  border-color: #572209;
  border: 1px solid;
      margin-top: auto;
  color: rgb(71, 36, 3);
  text-align: center;
  font-size: 20px;
  overflow: auto;
  grid-row: 5;
  
  
}
.zoneContainer.show{

  transition: transform 0.75s ease-in;
  transform: translateY(0%);
  padding: 20px;
  margin-bottom: 20px;
 

}

.mirror{
  transform: rotateY(180deg);
}

.zone {
  margin-bottom: 5px;

  padding: 10px;
  grid-row: 3;
}

.zonep2{
  text-align: right;
}
.score{
  transform: rotateY(180deg);
  margin-left: auto;
  margin-right: 0px;
}
.zone img{
  width: 200px;
  height: 200px;
 
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button {
  display: block;
}
input{
  border:0;
  margin-top: 10px;
  background: rgb(99, 45, 14);
  color: #d49151; /* Texte en couleur 1 */
}

form {
  border: 1px solid rgb(85, 42, 6);
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(175, 79, 0, 0.438);

}

form select {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  background: rgb(99, 45, 14);
  padding: 1px 2em 1px 1px;
  color: #d49151; /* Texte en couleur 1 */
   
}

form label {
  font-size: 15px;
  padding: 5px;
  width: 100%;
  display: inline-block;
  color: #fff;
  background-color: #883434;
  margin-bottom: 5px;
  border-radius: 10px;
}

form input[type="text"] {
  border-radius: 10px;
  padding: 5px;
}

input:focus {
  outline: none;
}

progress {
  width: 40%;
  border-radius: 10px;
  display: block;
  margin: 10px;
  padding: 2px;
}

button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px;
  outline: none;
  border: none;
  margin-right: 8px;
}
body{
  overflow: hidden;;
}

